.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/mgpo.owl
src/ontology/mgpo.obo
src/ontology/mgpo.json
src/ontology/mgpo-base.*
src/ontology/mgpo-basic.*
src/ontology/mgpo-full.*
src/ontology/mgpo-simple.*
src/ontology/mgpo-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl